-- Add locale columns for i18n support
ALTER TABLE projects ADD COLUMN IF NOT EXISTS locale VARCHAR(5) DEFAULT 'en';
ALTER TABLE blog_posts ADD COLUMN IF NOT EXISTS locale VARCHAR(5) DEFAULT 'en';
ALTER TABLE posts ADD COLUMN IF NOT EXISTS locale VARCHAR(5) DEFAULT 'en';

-- Add indexes for better query performance
CREATE INDEX IF NOT EXISTS idx_projects_locale ON projects(locale);
CREATE INDEX IF NOT EXISTS idx_blog_posts_locale ON blog_posts(locale);
CREATE INDEX IF NOT EXISTS idx_posts_locale ON posts(locale);

-- Add check constraints for valid locales
ALTER TABLE projects ADD CONSTRAINT check_projects_locale CHECK (locale IN ('en', 'id'));
ALTER TABLE blog_posts ADD CONSTRAINT check_blog_posts_locale CHECK (locale IN ('en', 'id'));
ALTER TABLE posts ADD CONSTRAINT check_posts_locale CHECK (locale IN ('en', 'id'));
